<div class="setting_menu">
    <div class="setting_header">
        Settings Menu
    </div>
    <div class="mt-3">
        <a routerLink="/settings" routerLinkActive="active">User Management</a>
       <!--  <a href="javascript:void(0)" routerLinkActive="active"  >Application Management</a> -->
        <a routerLink="/settings/banner" routerLinkActive="active"  >Banner Configuration</a>
        <a routerLink="/settings/color" routerLinkActive="active">Color Configuration</a>
        <a routerLink="/settings/email" routerLinkActive="active">Email Template</a>
        <a routerLink="/settings/promo" routerLinkActive="active">Promo Codes</a>
    </div>
</div>