
<main class="main">
    <div class="container-fluid">
        <div class="row dashboard-grid">
            <div class="col-12">
                
                <div class="col-inner">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="page-title">Financials Database</h5>
                                </div>
                            </div>

                            <div class="row hightlists mt-3">
                                <div class="col-md-3 info_list_item">
                                    <label>Total Transactions</label>
                                    <h6 class="info">{{this.transData?.overall?.total_count}}</h6>
                                    <span>{{this.transData?.month?.total_count}} Transactions this month</span>
                                </div>
                                <div class="col-md-3 info_list_item">
                                    <label>Total Collections</label>
                                    <h6 class="success">{{ this.transData?.overall?.total_collection | currency: 'RM' }}</h6>
                                    <span>{{ this.transData?.month?.total_collection | currency: 'RM' }} Collected this month</span>
                                </div>
                                <div class="col-md-3 info_list_item">
                                    <label>Total Earnings</label>
                                    <h6 class="info">{{ this.transData?.overall?.total_earnings | currency: 'RM' }}</h6>
                                    <span>{{ this.transData?.month?.total_earnings | currency: 'RM' }} Earned this month</span>
                                </div>
                                <div class="col-md-3 info_list_item">
                                    <label>Total Payout</label>
                                    <h6 class="danger">{{ this.transData?.overall?.total_payouts | currency: 'RM' }}</h6>
                                    <span>{{ this.transData?.month?.total_payouts | currency: 'RM' }}</span>
                                </div>
                            </div>

                            <div class="row mt-4 mb-4 filter_style2">
                                <div class="col-md-7">
                                    <button (click)="typeTranscation(0)" class="btn" [ngClass]="{'active' : this.activeTab==0}">All</button>
                                    <button (click)="typeTranscation(1)" class="btn ml-12" [ngClass]="{'active' : this.activeTab==1}">Payment</button>
                                    <button (click)="typeTranscation(2)" class="btn ml-12" [ngClass]="{'active' : this.activeTab==2}">Earnings</button>
                                    <button (click)="typeTranscation(3)" class="btn ml-12" [ngClass]="{'active' : this.activeTab==3}">Payouts</button>
                                   <!--  <a routerLink="/financial" class="btn active">All Transactions</a>
                                    <a routerLink="/financial/earning" class="btn ml-12">Earnings</a>
                                    <a routerLink="/financial/payouts" class="btn ml-12">Payouts</a>
                                    <a routerLink="/financial/collections" class="btn ml-12">Collections</a> -->
                                </div>

                                <div class="col-md-5 d-flex justify-content-end" *ngIf="action_btn">
                                    <button class="btn btn-danger"><img src="assets/icons/red_close.svg" alt=""> Reject Payouts</button>
                                    <button class="btn btn-success ml-12"><img src="assets/icons/green_tick.svg" alt=""> Approve Payouts</button>
                                </div>
                                
                            </div>

                            <div class="row filter_style2  mb-4">
                                <div class="col-md-7 d-flex align-items-center">
                                    <h5 class="page-title m-0">Viewing All Transactions</h5> 
                                </div>
                                <div class="col-md-5 d-flex justify-content-end">
                                    <div class="dropdown-list " dropdown>
                                        <button class="btn no_items" dropdownToggle>
                                            <i class="fa fa-eye"></i> 100
                                        </button>
                                        <div *dropdownMenu class="action_list dropdown-menu">
                                            <button data-perpage="100">100</button>
                                            <button data-perpage="50">50</button>
                                            <button data-perpage="20">20</button>
                                            <button data-perpage="10">10</button>
                                            <button data-perpage="5">5</button>
                                        </div>
                                    </div>

                                    <div class="dropdown-list ml-12" dropdown>
                                        <button class="btn status_by" dropdownToggle><i class="fa fa-calendar"></i> Date Range</button>
                                        <div *dropdownMenu class="action_list dropdown-menu dropdown-caldendar">
                                        </div>
                                    </div>
                                    
                                    <div class="membersearch ml-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="memb-search">
                                                <img src="assets/icons/search-gray.svg" alt=""/>
                                            </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Search transactions" aria-label="Search members" aria-describedby="memb-search">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-custom table-style2 mt-3">
                                <thead>
                                    <tr>
                                        <th class="checkall"><input type="checkbox" (click)="toggleCheckboxAll($event)" /></th>
                                        <th width="20%">TRANSACTION ID / DATE</th>
                                        <th width="20%">CATEGORY</th>
                                        <th> PAYEE / FROM</th>
                                        <th width="15%">AMOUNT</th>
                                        <th width="10%" class="text-center">STATUS</th>
                                        <th class="text-center" width="3%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of result; let i=index;">
                                        <td class="checkall"><input type="checkbox"   (click)="itemchecked($event)" name="checkitem" /></td>
                                        <td><a href="javascript:void(0)" (click)="trans_open(i)">#IM{{item.id}}</a><div class="cdate">{{item?.transaction_date | date: 'mediumDate'}}</div></td>
                                        <td>
                                            <span *ngIf="item.type==1">Payment</span>
                                            <span *ngIf="item.type==2">Earnings</span>
                                            <span *ngIf="item.type==3">Payouts</span>
                                        </td>
                                        <td><span class="span_blue">{{item?.amount | currency: 'RM'}}</span></td>
                                        <td class="text-center">
                                            <span class="span_status"  [ngClass]="{
                                                'status_active': item.status ==1,
                                                'status_pending' : item.status == 2 || item.status == 4,
                                                'status_expire' : item.status == 3
                                                }">
                                            <span class="dot"></span>{{item?.status_txt}}</span>
                                        </td>
                                        <td class="text-center" dropdown>
                                            <button class="dot-line" dropdownToggle><span></span></button>
                                            <div  *dropdownMenu class="action_list dropdown-menu">
                                                <a href="javascript:void(0)" class="mt-1 span_status status_active" (click)="statusChange($event)"   [attr.data-status]="1"  [attr.data-id]="item?.id" *ngIf="item.status!=1"><i class="fa fa-circle" aria-hidden="true"></i> Complete</a>
                                                <a href="javascript:void(0)" class="mt-1 span_status status_pending" (click)="statusChange($event)"   [attr.data-status]="2"  [attr.data-id]="item?.id" *ngIf="item.status!=2"><i class="fa fa-circle" aria-hidden="true"></i> Pending</a>
                                                <a href="javascript:void(0)" class="mt-1 span_status status_expire" (click)="statusChange($event)"   [attr.data-status]="3"  [attr.data-id]="item?.id" *ngIf="item.status!=3"><i class="fa fa-circle" aria-hidden="true"></i> Rejected</a>
                                <a href="javascript:void(0)" (click)="trans_open(i)" class="mt-1"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                 <!--                <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a> -->
                                            </div>
                                        </td>
                                    </tr>

                                   
                                </tbody>
                            </table>

                            <div class="mt-2 text-center mb-5" *ngIf="result==''">
                                <p><small>No result found</small></p>
                            </div>
                            
                            <!-- <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end mt-4">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <img src="assets/icons/left-arrow.svg" alt="" />
                                        Prev
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        Next
                                        <img src="assets/icons/right-arrow.svg" alt="" />
                                    </a>
                                  </li>
                                </ul>
                            </nav> -->
                            
                            <div class="transaction_view" *ngIf="transview">
                                <a href="javascript:void(0);" (click)="trans_close()" class="close_trans"><img src="assets/icons/close.svg" alt=""></a>
                                <h5>Transaction Detail</h5>
                                <h6 class="d-flex mt-3 ">IM{{this.viewData.id }} 
                                    <span class="ml-auto"> -{{ this.viewData.amount | currency : "RM" }}</span></h6>
                                <span class="trans_date">{{ this.viewData.transaction_date | date: 'MMM d, y | hh.mm a' }}</span>
                                <hr>
                                
                                <div class="text-left">
                                    <label>Member name</label>
                                    <p>{{this.viewData?.member?.personal_details?.full_name}}</p>
                                </div>
                                
                                <div class="text-left">
                                    <label>Member Email</label>
                                    <p>{{this.viewData?.member?.email}}</p>
                                </div>
                                
                                <div class="text-left">
                                    <label>Transaction type</label>
                                    <p>{{this.viewData?.type_txt}}</p>
                                </div>
                    
                               <div class="text-left">
                                    <label>Type of transaction</label>
                                    <p> <span *ngIf="this.viewData?.type==1">Payment</span>
                                        <span *ngIf="this.viewData?.type==2">Earnings</span>
                                        <span *ngIf="this.viewData?.type==3">Payouts</span></p>
                                </div> 
                    
                                <div class="text-left mt-4">
                                    <label>Transaction Status</label>
                                    <span class="span_status"  [ngClass]="{
                                        'status_active': this.viewData?.status ==1,
                                        'status_pending' : this.viewData?.status == 2 || this.viewData?.status == 4,
                                        'status_expire' : this.viewData?.status == 3
                                        }">
                                    <span class="dot"></span>{{this.viewData?.status_txt}}</span>
                                </div>
                    
                                <div class="text-left mt-5">
                                    <button (click)="approve_payment(this.viewData?.id)" class="btn btn-block btn-primary br8">Approve payment</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>
</main>