
<main class="main">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-inner">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="page-title">Members Database</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="member_filter filter_bar d-flex align-items-center justify-content-end">
                                                <a routerLink="" class="ml-12 viewpending"><img src="assets/icons/wall-clock.svg" alt="view pendings"><u>View pending</u></a>
                                                <div class="dropdown-list ml-12" dropdown>
                                                    <button class="btn no_items" dropdownToggle>
                                                        <i class="fa fa-eye"></i> 100
                                                    </button>
                                                    <div *dropdownMenu class="action_list dropdown-menu">
                                                        <button data-perpage="100">100</button>
                                                        <button data-perpage="50">50</button>
                                                        <button data-perpage="20">20</button>
                                                        <button data-perpage="10">10</button>
                                                        <button data-perpage="5">5</button>
                                                    </div>
                                                </div>

                                                <div class="dropdown-list ml-12" dropdown>
                                                    <button class="btn status_by" dropdownToggle><i class="fa fa-circle"></i> Status</button>
                                                    <div *dropdownMenu class="action_list dropdown-menu">
                                                        <button class="active_btn" data-status="active"><span></span> Active</button>
                                                        <button class="pending_btn" data-status="pending"><span></span>  Pending</button>
                                                        <button class="blocked_btn" data-status="blocked"><span></span>  Blocked</button>
                                                        <button class="expire_btn" data-status="expired"><span></span>  Expired</button>
                                                    </div>
                                                </div>
                                                  
                                                <div class="dropdown-list ml-12" dropdown>
                                                    <button class="btn status_by" dropdownToggle><i class="fa fa-calendar"></i> Date Added</button>
                                                    <div *dropdownMenu class="action_list dropdown-menu dropdown-caldendar">
                                                        <bs-datepicker-inline id="bsdatepickerinline" [bsValue]="bsInlineValue"></bs-datepicker-inline>
                                                    </div>
                                                </div>
                                                
                                                <div class="membersearch ml-12">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" id="memb-search">
                                                            <img src="assets/icons/search-gray.svg" alt=""/>
                                                        </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Search members" aria-label="Search members" aria-describedby="memb-search">
                                                    </div>
                                                </div>
                                                <a routerLink="/members/add" class="btn btn-addnew"><img src="assets/icons/addnew.png" alt="">Add New</a>
                                            </div>
                                        </div>
                                  </div>

                                <table class="table table-custom mt-3">
                                    <thead>
                                        <tr>
                                            <th>MEMBER ID</th>
                                            <th>MEMBER FULL NAME</th>
                                            <th>DATE REGISTERED</th>
                                            <th>TOTAL EARNINGS</th>
                                            <th>TOTAL PAYOURS</th>
                                            <th>TOTAL BALANCE</th>
                                            <th class="text-center">STATUS</th>
                                            <th class="text-center" width="3%"></th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                      
                                        <tr *ngFor="let item of result | paginate
                                        : {
                                            itemsPerPage: perpage,
                                            currentPage: cpage,
                                            totalItems: noitem
                                          };  let i=index;">
                                            <td><a routerLink="/members/{{item?.id}}">{{item?.member_id}}</a></td>
                                            <td><a routerLink="/members/{{item?.id}}">{{item?.personal_details?.full_name}}</a></td>
                                            <td>{{item?.created_at | date: 'mediumDate'}}</td>
                                            <td><span class="span_blue">RM 9,291.00</span></td>
                                            <td><span class="span_red">RM 1,580.00</span></td>
                                            <td>RM 7,711.00</td>
                                            <td class="text-center"><span class="span_status status_active"><span class="dot"></span>Active</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a routerLink="members/{{item?.id}}"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a routerLink="members/edit/{{item?.id}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href="javascript:void(0);" [attr.data-id]="item?.id"  (click)="confirmModal(template, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                                <pagination-controls class="category-pagination" (pageChange)="pageChange($event)"></pagination-controls>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-end mt-4">
                                      <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <img src="assets/icons/left-arrow.svg" alt="" />
                                            Prev
                                        </a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            Next
                                            <img src="assets/icons/right-arrow.svg" alt="" />
                                        </a>
                                      </li>
                                    </ul>
                                </nav>

                                  
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirm Delete Member ?</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center confirm_modal"> 
       <button class="btn btn-primary btn-sm m-2" id="del" [attr.data-id]=delId (click)="delete($event)">Confirm</button> 
       <button class="btn btn-danger btn-sm m-2" (click)="modalRef?.hide()">No</button>  
    </div>
  </ng-template>