<div class="sidebar-menu">
    <a routerLink="/" class="logo-left"><h3>INSURA</h3></a>
    <ul class="sidebar">
        <li><a routerLink="/dashboard" title="Home"><img src="assets/icons/menu1.svg" alt="Home"/></a></li>
        <li><a routerLink="/programs" title="Programs"><img src="assets/icons/menu2.svg" alt="programs"/></a></li>
        <li><a routerLink="/members" title="Members"><img src="assets/icons/menu3.svg" alt="members"/></a></li>
        <li><a routerLink="/financial" title="Financial"><img src="assets/icons/menu4.svg" alt="financial"/></a></li>
        <!-- <li><a routerLink="/documents"><img src="assets/icons/menu5.svg" alt="documents"/></a></li>
        <li><a routerLink="/networks"><img src="assets/icons/menu6.svg" alt="Networks"/></a></li> -->
        <li><a routerLink="/program/enroll"  title="Enrollment"><img src="assets/icons/enroll.png" alt="Enrollment"/></a></li>
        <li><a routerLink="/insurance"  title="Insurance"><img src="assets/icons/insurance.png" alt="Insurance"/></a></li>
        <li><a routerLink="/report"  title="Report"><img src="assets/icons/report.png" alt="Report"/></a></li>
    </ul>
</div>