<main class="main">
    <div class="container-fluid">
        <div class="row dashboard-grid">
            <div class="col-12">
                <div class="col-inner">
                    <div class="card">
                        <div class="card-body">
                             <p>ests</p> <!--  [dtOptions]="dtOptions" -->
                             <!-- <ngx-datatable tableClass="table table-striped table-bordered table-hover" [tableId]="'basic'" [data]="data" [options]="options"
                             [columns]="columns">
                           </ngx-datatable> -->
                           <table dataTable>
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>City</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>John Doe 133</td>
                                <td>25</td>
                                <td>New York</td>
                              </tr>
                              <tr>
                                <td>John Doe1</td>
                                <td>25</td> 
                                <td>New York</td>
                              </tr>
                              <tr>
                                <td>John Doe 2</td>
                                <td>25</td>
                                <td>New York</td>
                              </tr>
                              <tr>
                                <td>John Doe 4</td>
                                <td>25</td>
                                <td>New York</td>
                              </tr>
                              <!-- Add more data rows here -->
                            </tbody>
                          </table>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
