<div class="wrapper login-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 position-absolute login-logo">
                <div class="col-inner">
                    <a routerLink="/"><img src="assets/img/logo.png" alt="INSURA"/></a>
                </div>
            </div>
            <div class="col-md-7 text-white text-center welcome-col  min-vh-100">
                <div class="col-inner">
                    <h1>WELCOME TO INSURA</h1>
                    <h3>ADMIN PANEL</h3>
                </div>
            </div>
            <div class="col-md-5 ml-auto login_frm login-form">
                <div class="col-inner min-vh-100 d-flex flex-wrap flex-column justify-content-center">
                    <h2 class="login-title">Sign In</h2>
                    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="assets/icons/envelope.png" class="icon-envelope" alt=""/></span>
                            </div>
                            
                            <input
                            type="email"
                            formControlName="email"
                            placeholder="user@email.com"
                            class="form-control border-left-0"
                          />
                        </div>
                       
                        <div *ngIf="!f.email?.valid && submitted">
                            <small class="text-danger" *ngIf="f.email?.errors?.['required']">
                           Email requird </small>
                           <small class="text-danger" *ngIf="f.email?.errors?.['pattern']">
                            Invaild email address </small>
                        </div>
                            


                        <div class="input-group"  [ngClass]="{'eyeopen' : showPassword}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="assets/icons/key.svg" alt=""/></span>
                            </div>
                            <input [type]="showPassword ? 'text' : 'password'"  name="password" placeholder="xxxxxxxxx" class="border-left-0 form-control border-right-0" formControlName="password"/>
                            
                            <div class="input-group-append"><span class="input-group-text">
                                <i class="fa fa-eye input-eye" [ngClass]="{'fa-eye-slash' : showPassword}" aria-hidden="true" (click)="toggleEye()"></i>
                                </span></div>
                        </div>
                        <div *ngIf="!f.password?.valid && submitted">
                            <small class="text-danger" *ngIf="f.password?.errors?.['required']">
                           Password requird </small>
                        </div>
                        
                       <div class="text-right">
                            <a routerLink="/forgot-password" class="forgot-link">Forgot password?</a>
                       </div>

                        <button class="btn btn-primary btn-block" >Sign In <i class="fa fa-spin fa-spinner" *ngIf="loader"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>