input:-ms-input-placeholder{
    color: #C2C2C2;
}
input::placeholder{
    color: #C2C2C2;
}
label{
    color: #5F655E;
    font-size: 14px;
}
.form-check-label input{
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
.insura-reg-logo{
    max-height: 45px;
}