<main class="main ">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 pl-0 memb-sidebar">
                    <app-memb-sidebar></app-memb-sidebar>
                </div>

                <div class="col-md-9 pr-0">
                    <div class="col-inner">
                        <div class="card min-vh-100">
                            <div class="card-body mem-prof-view">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h5 class="page-title">Documents <strong>Malek Hopkins</strong></h5>
                                    </div>
                                    <div class="col-md-5 text-right">
                                        <span>Total Recruited: <strong>229 Members</strong></span>
                                    </div>
                                </div>

                                <div class="row mt-4 mb-4 filter_style2">
                                    <div class="col-md-7">
                                        <button class="btn active">All</button>
                                        <button class="btn ml-12">Verified</button>
                                        <button class="btn ml-12">Unverified</button>
                                    </div>

                                    <div class="col-md-5 d-flex justify-content-end">
                                        <div class="dropdown-list" dropdown>
                                            <button class="btn status_by" dropdownToggle><i class="fa fa-calendar"></i> Date Range</button>
                                            <div *dropdownMenu class="action_list dropdown-menu dropdown-caldendar">
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="membersearch ml-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text" id="memb-search">
                                                    <img src="assets/icons/search-gray.svg" alt=""/>
                                                </span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Search" aria-label="Search members" aria-describedby="memb-search">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  
                                <table class="table table-custom table-style2 mt-3">
                                    <thead>
                                        <tr>
                                            <th class="checkall"><input type="checkbox" /></th>
                                            <th width="40%">DOCUMENT NAME</th>
                                            <th width="25%">UPLOAD DATE</th>
                                            <th width="10%">FILE SIZE</th>
                                            <th width="20%" class="text-center">STATUS</th>
                                            <th width="5%" class="text-center" width="3%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr *ngFor="let item of result; let i=index;">
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="" class="doc_item_name">
                                                <span class="doc_type doc_{{item.file_name | Extension:item.file_name}}"></span>  {{item.file_name}}
                                            </a>
                                            </td>
                                            <td>{{item.created_at | date: 'mediumDate'}}</td>
                                            <td>{{item.size}}</td>
                                            <td class="text-center">
                                                <span class="span_status status_active">
                                                    <span class="dot"></span>{{item.status_txt}}</span>
                                            </td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                                    <a href="javascript:void(0)" [attr.data-id]="item?.id"  (click)="download($event)"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                                    <a href="javascript:void(0)" (click)="statusChange($event)"   [attr.data-status]="item?.status"  [attr.data-id]="item?.id"><i class="fa fa-check" aria-hidden="true"></i> Verify</a>
                                                    <a href="javascript:void(0)" [attr.data-id]="item?.id"  (click)="confirmModal(template, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr *ngIf="result.length==0">
                                            <td colspan="6" class="text-center">No document found</td>
                                        </tr>
                                       <!--  <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_png"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center"><span class="span_status status_pending">
                                                <span class="dot"></span>Pending</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_jpg"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center"><span class="span_status status_blocked">
                                                <span class="dot"></span>Blocked</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_pdf"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center">
                                                <span class="span_status status_active"><span class="dot"></span>Verified</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_png"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center"><span class="span_status status_pending">
                                                <span class="dot"></span>Pending</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_jpg"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center"><span class="span_status status_blocked">
                                                <span class="dot"></span>Blocked</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_pdf"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center">
                                                <span class="span_status status_active"><span class="dot"></span>Verified</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_png"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center"><span class="span_status status_pending">
                                                <span class="dot"></span>Pending</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_jpg"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center"><span class="span_status status_blocked">
                                                <span class="dot"></span>Blocked</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_pdf"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center">
                                                <span class="span_status status_active"><span class="dot"></span>Verified</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_png"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center"><span class="span_status status_pending">
                                                <span class="dot"></span>Pending</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td  class="checkall"><input type="checkbox" /></td>
                                            <td><a href="members/IM2912"><span class="doc_type doc_jpg"></span> Malek_hopkins_resume.pdf</a></td>
                                            <td>10 February 2021</td>
                                            <td>3.91 MB</td>
                                            <td class="text-center"><span class="span_status status_blocked">
                                                <span class="dot"></span>Blocked</span></td>
                                            <td class="text-center" dropdown>
                                                <button class="dot-line" dropdownToggle><span></span></button>
                                                <div  *dropdownMenu class="action_list dropdown-menu">
                                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr> -->

                                    </tbody>
                                </table>

                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-end mt-4">
                                      <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <img src="assets/icons/left-arrow.svg" alt="" />
                                            Prev
                                        </a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            Next
                                            <img src="assets/icons/right-arrow.svg" alt="" />
                                        </a>
                                      </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>


                </div><!---col md 9-->
            </div>
        </div>

        <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Confirm Delete Document ?</h4>
              <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center confirm_modal"> 
               <button class="btn btn-primary btn-sm m-2" id="del" [attr.data-id]=delId (click)="delete($event)">Confirm</button> 
               <button class="btn btn-danger btn-sm m-2" (click)="modalRef?.hide()">No</button>  
            </div>
          </ng-template>


    </div><!--Wrapper-->
</main><!--Main-->