<main class="main ">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 pl-0 memb-sidebar">
                    <app-memb-sidebar></app-memb-sidebar>
                </div>
            
                <div class="col-md-9 pr-0">
                    <div class="col-inner">
                        <div class="card">
                            <div class="card-body mem-prof-view">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h5 class="page-title">Networks <strong>{{this.profile?.personal_details?.full_name}}</strong></h5>
                                    </div>
                                    <div class="col-md-5 text-right">
                                        <span>Total Recruited: <strong>{{this.totalMemb}} Members</strong></span>
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <label>Sort by program</label>
                                    <select class="form-control text-capitalize" (change)="changeNetByProg($event)">
                                        <option value="">Select Program</option>
                                        <option value="{{prg.id}}" *ngFor="let prg of programlist; let i=index">
                                            {{prg.name}}
                                        </option>
                                    </select>
                                    <div class="text-center loadingcircle" *ngIf="loader"><i class="fa fa-spin fa-spinner"></i></div>
                                </div>

                                <div class="row"  *ngIf="result==''">
                                    <div class="col-md-12 mt-4 mb-5 text-center"><small>No network found</small></div>
                                </div>
                                
                                <div class="row mt-4 mb-4 filter_style2"  *ngIf="result!=''">
                                    <div class="col-md-7 d-flex">
                                        <button class="btn" [ngClass]="{'active' : allOpen}" (click)="openAllAccordions()">All</button>
                                        <div *ngFor="let bt of result; let i = index;">
                                            <button [ngClass]="{'active': isAccordionOpen[i]}" class="btn ml-12" (click)="toggleAccordion(i)">Tier {{i+1}}</button>
                                        </div>
                                    </div>

                                    <div class="col-md-5 d-flex justify-content-end">
                                            
                                        
                                         <div class="dropdown-list" dropdown>
                                            <button class="btn status_by" dropdownToggle><i class="fa fa-calendar"></i> Date Range</button>
                                            <div *dropdownMenu class="action_list dropdown-menu dropdown-caldendar">
                                                
                                            </div>
                                        </div>  
                                        
                                         <div class="membersearch ml-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text" id="memb-search">
                                                    <img src="assets/icons/search-gray.svg" alt=""/>
                                                </span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Search" aria-label="Search members" aria-describedby="memb-search">
                                            </div>
                                        </div> 
                                    </div>
                                </div>  


                               

                                
            <div class="nt_tier memb_nt_accordion">
                <div  *ngFor="let tier_list of result; let t=index;" [ngClass]="{'open': isAccordionOpen[t]}">
                    <div class="accordian-item-title" (click)="toggleAccordion(t)" [ngClass]="{'active': isAccordionOpen[t]}"> <span>Tier {{t+1}} <i class='fa' [ngClass]="isAccordionOpen[t] ? 'fa-angle-down' : 'fa-angle-up' " ></i></span>
                    </div>
                    <div  class="accordion-content accordian-item-content" [ngClass]="{'open': isAccordionOpen[t]}">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let dt of tier_list.value; let i = index;" >
                                <div class="col-inner d-flex align-items-center nt_user_item" title="{{dt.name}}">
                                    <div class="user-thumb">
                                        <img src="assets/img/profile.svg" alt=""/>
                                    </div>
                                    <div class="user-details d-block">
                                        <span class="nt_user_name">{{dt.name}}</span>
                                        <span class="nt_user_join">joined <span>27 August 2023</span></span>
                                        <a routerLink="/members/{{dt.id}}" class="nt_user_view">View details <i class="ml-1 fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>     
            
                                
                            </div><!---card body-->
                        </div><!---card-->

                       
                    </div><!---col inner-->
                </div><!---col md-9-->
            </div>
        </div>
    </div>
</main>