<!-- https://appstack.bootlab.io/dashboard-default.html -->
<app-sidebarnav></app-sidebarnav>
<app-header></app-header>

<main class="main">
    <div class="container-fluid">
        <div class="row dashboard-grid">
            <div class="col-12">
                <h3 class="page-title">Overview</h3>
            </div>
            <div class="col">
                <div class="card flex-fill">
                    <div class="card-body">
                        <div class="grid-title">
                            <img src="assets/icons/members.svg" alt="Total members" />
                            <h3>Total Members</h3>  
                        </div>
                        <p class="gird-count">34,288</p>
                        <p class="gird-desc">Members</p>
                    </div>  
                </div>
            </div>

            <div class="col">
                <div class="card  flex-fill">
                    <div class="card-body"> 
                        
                        <div class="grid-title"> 
                            <img src="assets/icons/newsignup.svg" alt="New Sign-ups" />  
                            <h3>New Sign-ups</h3>  
                        </div>
                        <p class="gird-count">129</p>
                        <p class="gird-desc">Member Sign-ups</p>
                    </div>  
                </div>
            </div>

            <div class="col">
                <div class="card  flex-fill">
                    <div class="card-body">
                        <div class="grid-title">
                            <img src="assets/icons/collections.svg" alt="Total Collections" /> 
                            <h3>Total Collections</h3>  
                        </div>
                        <p class="gird-count">RM 200,918.00</p>
                        <p class="gird-desc">Amount Collected</p>
                    </div>  
                </div>
            </div>

            <div class="col">
                <div class="card  flex-fill">
                    <div class="card-body">
                        <div class="grid-title"> 
                            <img src="assets/icons/payout.svg" alt="Total Payout" />  
                            <h3>Total Payout</h3>  
                        </div>
                        <p class="gird-count">RM 38,291.00</p>
                        <p class="gird-desc">Amount Paid</p>
                    </div>  
                </div>
            </div>

            <div class="col">
                <div class="card  flex-fill">
                    <div class="card-body">
                        <div class="grid-title">  
                            <img src="assets/icons/netcollections.svg" alt="Net Collections" />  
                            <h3>Net Collections</h3>  
                        </div>
                        <p class="gird-count">RM 162,627.00</p>
                        <p class="gird-desc">Net Amount Collected</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="row mt-4 yr-task">
            <div class="col-12">
                <h3 class="page-title">Your Tasks</h3>
            </div>

            <div class="col-md-6">
                <div class="card flex-fill">
                    <div class="card-body">
                        <div class="grid-title">  
                            <img src="assets/icons/pending.svg" alt="Pending Verification" />  
                            <h3>Pending Verification</h3>  
                            <p class="gird-desc">49 Pending</p>
                        </div>
                       
                        <table class="table table-striped text-center table-blue">
                            <tr><th>Member Name</th> <th>Document Submitted</th> <th>Date of Submission</th> <th> </th></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙ </button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                        </table>
                        <div class="mt-4 text-right"><a routerLink="" class="viewall">View All</a></div>
                    </div> 
                </div>
            </div>

            <div class="col-md-6">
                <div class="card flex-fill">
                    <div class="card-body">
                        <div class="grid-title">  
                            <img src="assets/icons/request.svg" alt="Payout Requests" />  
                            <h3>Payout Requests</h3>  
                            <p class="gird-desc">12 Requests</p>
                        </div>
                        
                        <table class="table table-striped text-center table-darkpink">
                           <thead> <tr><th>Member Name</th> <th>Document Submitted</th> <th>Date of Submission</th> <th> </th></tr></thead>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙ </button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>
                            <tr><td>Jack Loh Chee Mun</td> <td>5</td> <td>Jan 29, 2023</td> <td><button class="btn btn-action">︙</button></td></tr>  
                        </table>
                        <div class="mt-4 text-right"><a routerLink="" class="viewall">View All</a></div>
                    </div> 
                </div>
            </div>

        </div>

    </div>
</main>